@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    char data = '@';
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodHouse - Авторизація</title>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <header class="authorization-header reviews-header">
        <div class="logo-block">
            <a class="logo" asp-action="Index" asp-controller="Home">
                <i class="bx bx-store-alt logo-item"></i>
                <div class="logo-title">Food<span>House</span></div>
            </a>
        </div>
    </header>
    <main class="authorization-main">
        <div class="container">
            <div class="authorization-img">
                <img style="max-heigth: 300px" src="~/images/img/regorlog.png" alt="img">
            </div>
            <h2 class="authorization-title">ЗАРЕЄТСРУЙТЕСЯ АБО<br> ВВІЙДІТЬ В СВІЙ АККАУНТ</h2>
            <div class="authorization-button">
                <button class="button-one"><a asp-action="Register" asp-controller="Autentificate">РЕЄСТРАЦІЯ</a></button>
                <button class="button-two"><a asp-action="Login" asp-controller="Autentificate">АВТОРИЗАЦІЯ</a></button>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer-wrapper">
            <div class="footer-first">
                <div class="footer-logo">
                    <a class="f-logo" href="#">
                        <!--                    <img src="~/images/icons/footer_logo.svg" class="logo-img" alt="logo_img">-->
                        <i class="bx bx-store-alt f-item"></i>
                        <div class="f-logo">FoodHouse</div>
                    </a>
                </div>
                <div class="footer-menu">
                    <a href="#">Меню</a>
                </div>
                <div class="footer-support">
                    <a href="#">Тех. підтримка</a>
                </div>
                <div class="footer-login">
                    <a asp-controller="Autentificate" asp-action="Login">Вхід в кабінет</a>
                </div>
            </div>
            <div class="footer-second">
                <h2 class="footer-social">СОЦІАЛЬНІ МЕРЕЖІ</h2>
                <div class="footer-mediablock">
                    <div class="footer-media">
                        <a href="#">
                            <img src="~/images/icons/instagram.png" alt="instagram">
                            <div class="footer-instagram">@data FH_instagram</div>
                        </a>
                    </div>
                    <div class="footer-media">
                        <a href="#">
                            <img src="~/images/icons/facebook.png" alt="facebook">
                            <div class="footer-instagram">@data FH_facebook</div>
                        </a>
                    </div>
                    <div class="footer-media">
                        <a href="#">
                            <img src="~/images/icons/twitter.png" alt="twitter">
                            <div class="footer-instagram">@data FH_twitter</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://unpkg.com/magic-snowflakes/dist/snowflakes.min.js"></script>
    <script>new Snowflakes();</script>
</body>
</html>